@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #171917;
}

.card_post {
  background: #02023C;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  position: relative;
}


.container_copy {
  padding: 6rem 4rem 5rem 4rem;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 2.7rem;
  letter-spacing: 0.5px;
  color: #fff;
}

p {
  margin: 0 0 4.5rem 0;
  font-size: 1.4rem;
  line-height: 1.45;
  color: #fff;
}

.btn_primary {
  border: none;
  outline: none;
  background-color: #0095ff;
  padding: 1.5rem 2rem;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.btn_primary:hover {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

@media only screen and (max-width: 650px) {
  body {
    background-color: black;
  }

  .container_copy {
    padding: 8rem 2rem 5rem 2rem;
  }

  .card_post {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .btn_primary {
    padding: 1rem 3rem !important;
  }
}
